<h1>Put up photo URL</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
  <div>
    <input name="some-file" type="file">
    <input value="Upload" type="submit">
  </div>
</form>

<%= form_for @user, html: { multipart: true } do |f| %>
  <p>
    <label>My Avatar</label>
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>

    <%= f.submit "Submit" %>
  </p>
<% end %>
