<div class="title-header">
  <h1><%= @venue.venue_name %></h1>
  <p><%= @venue.description %></p>

  <% if @venue.deletable_by(current_user) %>
  <div class="small-6 columns text-center">
    <%= button_to "Edit Venue", edit_venue_path, class: "button", method: "get", label: "Edit Venue"%>
  </div>
  <div class="small-6 columns text-center">
    <%= button_to "Delete Venue", venue_path, class: "button", method: "delete", label: "Delete Venue"%>
  </div>
  <% end %>

<ul>
  <%= render @reviews %>
</ul>

<div class="text-center">
  <a href="<%= new_venue_review_path(@venue) %>" class="button">Add a New Review</a>
</div>

<div class="text-center">
  <a href="<%= venues_path %>" class="button">All Venues</a>
</div>

<%= paginate @reviews %>
</div>
