<h1><%= @venue.venue_name %></h1>
<p><%= @venue.description %></p>
<ul>
  <% @reviews.each do |review| %>
  <div id="review-<%= review.id %>"
  <li> <%= review.review_body %></li>
  Rating: <%= review.rating %></br>
  <div class="helpful">Helpful: <%= review.revup_count %></div>
  <div class="not-helpful">Not Helpful: <%= review.revdown_count %></div>
  <div id="upvote">
      <%= button_to "helpful", venue_review_path(@venue,review), method:"patch", params: {up: true} %>
    </div>
    <div id="downvote">
      <%= button_to "not helpful", venue_review_path(@venue,review), method:"patch", params: {down: true}%>
    </div>
  </div>
  <% end %>
</ul>

<div class="text-center">
  <a href="<%= new_venue_review_path(@venue) %>" class="button">Add a New Review</a>
  </div>
  <div class="text-center">
    <a href="<%= venues_path %>" class="button">All Venues</a>
  </div>

<script>
$('#upvote').on('click', function(event) {
    event.preventDefault();
    var reviewButton = event.target;
    var venueId = reviewButton.baseURI.match(/^(.*?)(\d+)(\D*)$/)[2];
    var reviewButtonTo = $(reviewButton).closest('.button_to');
    var reviewId = $(reviewButtonTo).attr('action').match(/\/(\d+)\//)[1];
    var voteType = "true";

    var makeAjaxRequestPost = function(reviewButtonTo, venueID, reviewId, voteType) {
      var request = $.ajax({
        method: 'PATCH',
        data: { up: voteType },
        url: '/api/venues/' + venueID + '/reviews/' + reviewId
      });

      request.done(function(data) {
        var review = $('#review-' + data.id)[0]
        review.getElementsByClassName("helpful")[0].innerHTML = "Helpful: " + data.revup_count
        review.getElementsByClassName("not-helpful")[0].innerHTML = "Not Helpful: " + data.revdown_count
      });
    };
    makeAjaxRequestPost(reviewButtonTo, venueId, reviewId, voteType)
  });
</script>
<script>
$('#downvote').on('click', function(event) {
    event.preventDefault();
    var reviewButton = event.target;
    var venueId = reviewButton.baseURI.match(/^(.*?)(\d+)(\D*)$/)[2];
    var reviewButtonTo = $(reviewButton).closest('.button_to');
    var reviewId = $(reviewButtonTo).attr('action').match(/\/(\d+)\//)[1];
    var voteType = "true";

    var makeAjaxRequestPost = function(reviewButtonTo, venueID, reviewId, voteType) {
      var request = $.ajax({
        method: 'PATCH',
        data: { down: voteType },
        url: '/api/venues/' + venueID + '/reviews/' + reviewId
      });

      request.done(function(data) {
        var review = $('#review-' + data.id)[0]
        review.getElementsByClassName("helpful")[0].innerHTML = "Helpful: " + data.revup_count
        review.getElementsByClassName("not-helpful")[0].innerHTML = "Not Helpful: " + data.revdown_count
      });
    };
    makeAjaxRequestPost(reviewButtonTo, venueId, reviewId, voteType)
  });
</script>
