<h1><%= @venue.venue_name %></h1>
<p><%= @venue.description %></p>
<ul>
  <% @reviews.each do |review| %>
  <div id="review-<%= review.id %>"
  <li> <%= review.review_body %></li>
  Rating: <%= review.rating %></br>
  <div class="helpful">Helpful: <%= review.revup_count %></div>
  <div class="not-helpful">Not Helpful: <%= review.revdown_count %></div>
  <div id="upvote">
      <%= button_to "helpful", venue_review_path(@venue,review), method:"patch", params: {up: true} %>
    </div>
    <div id="downvote">
      <%= button_to "not helpful", venue_review_path(@venue,review), method:"patch", params: {down: true}%>
    </div>
  </div>
  <% end %>
</ul>

<div class="text-center">
  <a href="<%= new_venue_review_path(@venue) %>" class="button">Add a New Review</a>
  </div>
  <div class="text-center">
    <a href="<%= venues_path %>" class="button">All Venues</a>
  </div>
