<div class="show-footer column">
  <h1><%= @venue.venue_name %></h1>
  <p><%= @venue.description %></p>

  <% if @venue.deletable_by(current_user) %>
    <%= button_to "Delete Venue", venue_path, class: "button", method: "delete", label: "Delete Venue"%>
    <%= button_to "Edit Venue", edit_venue_path, class: "button", method: "get", label: "Edit Venue"%>
  <% end %>

<h3>Reviews</h3>

<table>
  <tbody>
    <%= render @reviews %>
  </tbody>
</table>

<div class="text-center">
  <a href="<%= new_venue_review_path(@venue) %>" class="button">Add a New Review</a>
</div>

<div class="text-center">
  <a href="<%= venues_path %>" class="button">All Venues</a>
</div>

<%= paginate @reviews %>
</div>
