<div class="full-height bg-img">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 large-centered columns">

      <div class="floating-container">
        <h1>Users</h1>
      </div>
      <div class="floating-container">
        <% @users.each do |user| %>
          </h4><%= link_to user.username, user_path(user) %></h4>
          <%= button_to "Delete User", admin_user_path(user), class: "button", method: "delete", id: user.id %>
        <% end %>
      </div>
      <div class="text-center">
        <a href="<%= new_user_path %>" class="button">Add a New User!</a>
      </div>
      <div class="text-center">
        <a href="<%= users_path %>" class="button">All Users</a>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>
