<div class="row">
  <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
    <h1>New Activity Form</h1>

    <%= form_for(@activity) do |f| %>
    <div class="field">
      <%= f.label :activity_name, "Activity Name" %><br />
      <%= f.text_field :activity_name %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :venue_id, "Venue" %><br />
      <%= f.text_field :venue_id %>
    </div>

    <div class="field">
      <%= f.label :price_range, "Price Range" %><br />
      <%= f.text_field :price_range %>
    </div>

    <div class="actions">
      <%= f.submit "Add Activity" %>
    </div>
    <% end %>
  </div>
</div>
