<h1><%= @activity.activity_name %></h1>
<p><%= @activity.description %></p>
<div>
  <% @reviews.each do |review| %>
  <li><%= review.review_body %></li>
  Rating: <%= review.rating %>
  <% end %>
</div>

<div class="text-center">
  <a href="<%= new_activity_review_path(@activity) %>" class="button">Add a New Review</a>
</div>

<div class="text-center">
  <a href="<%= activities_path %>" class="button">All Activities</a>
</div>
