<tr>
  <td>
    <div id="review-<%= review.id %>">
      <li><%= review.review_body %></li>
      <% review.rating.times do %>
      &#127775
      <% end %>
      <div class="vote-wrap">
        <div class="upvote box">
          <%= button_to "helpful", "/api/venues/#{@venue.id}/reviews/#{review.id}", method:"patch", params: {up: "true", load_javascript: "false"} %>
        </div>
        <div class="helpful box">&nbsp&nbsp<%= review.revup_count %>&nbsp&nbsp</div>
        <div class="downvote box">
          <%= button_to "not helpful", "/api/venues/#{@venue.id}/reviews/#{review.id}", method:"patch", params: {down: "true", load_javascript: "false"}%>
        </div>
        <div class="not-helpful box">&nbsp&nbsp<%= review.revdown_count %>&nbsp&nbsp</div>
      </div>

      <% if review.deletable_by(current_user) %>
        <%= button_to "Delete Review", venue_review_path(@venue, review), class: "button", method: "delete", label: "Delete Review" %>
      <% end %>
      <% if review.deletable_by(current_user) %>
        <%= button_to "Edit Review", edit_venue_review_path(@venue, review), class: "button", method: "get", label: "Edit Review" %>
      <% end %>
    </div>
  </td>
</tr>
