<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Jumper" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/top_bar" %>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <%= render "layouts/off_canvas_menu" %>
          <div class="row">
            <%= render "layouts/flash" %>
            <%= yield %>
          </div>
        <%= render "layouts/footer" %>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>
